
.dataControlCenterContainer {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding-top: 1.5em;
	padding-bottom: 1.5rem;
	padding-left: 5rem;
	padding-right: 5rem;
	background-color: #8d99ae;
}

.datacontrolcentercontainer ::placeholder, option, input, select, label {
	font-family: "poppins", sans-serif; 
}

.datacontrolcentercontainer ::placeholder  {
	
}

.inputContainer {
	margin-left: 3rem;
	margin-right: 3rem;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	letter-spacing: 2px;
	color: #edf2f4;
}

.inputContainer label {
	margin-left: 1px;
}

.inputContainer input, select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 5px;
	outline: none;
	border: none;
	/* border: 1px solid #2b2d42; */
}

.inputContainer option {
	margin: 1rem;
	padding: 0.6rem;
}

.inputContainerBigger {
	flex: 2;
}