@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

.dataControlCenterContainer {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	font-family: "poppins", sans-serif;  
	width: 15rem;
	height: 100vh;
	margin-right: 2rem;
}

.dataControlCenterContainer ::placeholder, option, input, select, label, button {
	font-family: "poppins", sans-serif;  
}

.inputContainer {
	display: flex;
	flex-direction: column;
	letter-spacing: 1px;
	padding-bottom: 1.8rem;
	padding-top: 2rem;
	border-bottom: 1px solid #2b2d42;
}

.inputContainer label {
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 16px; 
}

.inputContainer input, select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	outline: none;
	border: none;
	border: 1px solid #2b2d42;
}


input:focus {
	border-radius: 3px;
	border: 2px solid #2b2d42;
	outline-offset: 0;
	padding-top: 0.44rem;
	padding-bottom: 0.44rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

input:focus-visible {
	outline-offset: 0;
}

.inputContainer option {
	margin: 1rem;
	padding: 0.6rem;
}

.inputContainerBigger {
	flex: 2;
}

.resetButtonContainer button {
	background: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: font-weight 0.2s ease-out;
	padding: 0;
}

.resetButtonContainer button:hover {
	font-weight: bold;
}
