@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: rgba(49, 49, 49, 0.8);
	z-index: 10;
}

.modal { 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 1500px;
	min-width: 1500px;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}


.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: "Poppins", sans-serif;
}


.backToCatalogButton {
	position: fixed;
	left: 30px;
	bottom: 23px;
	color: #8d99ae;
	transition-duration: .2s;
	display: inline-block;
	perspective: 1000px;
	cursor: pointer;
}

.backToCatalogButton:hover {
	transform: scale(1.1);
	backface-visibility: hidden;
}

.ratingAndImg {
	display: flex;
	flex-direction: column;
	padding: 3rem;
}

.averageRating {
}

.largeImgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.largeImgContainer img {
	width: 700px;
	height: auto;
}

.reviewsContainer {
	overflow-y: scroll;
	width: 750px;
	height: 90%;
}

.review {
	font-size: 16px;
	margin-bottom: 1rem;
}

.date {

}

.reviewText {
	margin-top: 0.5rem;
}

.noReviewContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


